@font-face {
  font-family: "iconfont"; /* Project id 3558280 */
  src: url('iconfont.woff2?t=1662018428150') format('woff2'),
       url('iconfont.woff?t=1662018428150') format('woff'),
       url('iconfont.ttf?t=1662018428150') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoge-chakan:before {
  content: "\e660";
}

.icon-biaoge-shezhi:before {
  content: "\e661";
}

.icon-dili:before {
  content: "\e7d3";
}

.icon-zanwudingdan:before {
  content: "\e6ac";
}

.icon-erweima1:before {
  content: "\e60c";
}

.icon-fanhui:before {
  content: "\e602";
}

.icon-information-gerenxinxi:before {
  content: "\e614";
}

.icon-tab_icon_home_nor:before {
  content: "\e60d";
}

.icon-tab_icon_library_nor:before {
  content: "\e60e";
}

.icon-tab_icon_mine_nor:before {
  content: "\e60f";
}

.icon-dianpu:before {
  content: "\e600";
}

.icon-erweima:before {
  content: "\e601";
}

.icon-jinrujiantou:before {
  content: "\e88e";
}

.icon-lunboxiaoguo:before {
  content: "\e675";
}

.icon-navicon-hd:before {
  content: "\e669";
}

.icon-fabu:before {
  content: "\e615";
}

.icon-renyuan-:before {
  content: "\e611";
}

.icon-wodezuopin:before {
  content: "\e680";
}

.icon-daifahuo:before {
  content: "\e637";
}

